In [42]:
import pandas as pd
import numpy as np

In [57]:
data = pd.read_csv('C://Users//Matth//OneDrive//Documents//Data Science//DATA 557//557_Final_Project//Data//DataScienceData.csv')
pop =  pd.read_csv('C://Users//Matth//OneDrive//Documents//Data Science//DATA 557//557_Final_Project//Data//pop_dense.csv', header=None, encoding="ISO-8859-1")
pop_dense = []
val = pop.values
country_dense = {}
for v in val:
    country_dense[v[0]] = v[1]
for i in range(0,len(data)):
    country = data.iloc[i][3]
    country = str(country)
    if country != "Other" and country != 'nan':
        dense = country_dense[country]
        pop_dense.append(dense)
    else:
        #dense = country_dense[country]
        pop_dense.append(0)

In [58]:

density = pd.DataFrame({"Density": pop_dense})

In [59]:
df = pd.concat([data, density], axis=1, sort='False')
density.head()

   Density
0    261.1
1    620.6
2  18342.0
3      0.0
4      0.0

In [60]:
df = df.drop(columns="Unnamed: 0")

In [61]:
df.to_csv("C://Users//Matth//OneDrive//Documents//Data Science//DATA 557//557_Final_Project//Data//Data_Science_Density.csv")

In [64]:
data

,Unnamed: 0,CompensationCurrency,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,...,TitleFit,CurrentEmployerType,DataScienceIdentitySelect,FormalEducation,MajorSelect,Tenure,LanguageRecommendationSelect,CompensationAmount,ExchangeRate(USA),CompensationYearUSD
0,9,AED,Female,Egypt,30.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by college or university,Yes,Doctoral degree,A health science,6 to 10 years,Java,NaN,0.272256,NaN
1,3,AED,Male,Germany,38.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by a company that performs advanced a...,Yes,Master's degree,NaN,3 to 5 years,R,0.0,0.272256,0.000000
2,4,AED,Male,Hong Kong,20.0,Employed part-time,NaN,NaN,Yes,NaN,...,Fine,Employed by a company that doesn't perform adv...,No,Bachelor's degree,Computer Science,Less than a year,R,1.0,0.272256,0.272256
3,1,AED,Male,Other,42.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by professional services/consulting firm,Sort of (Explain more),Master's degree,Computer Science,6 to 10 years,R,30000.0,0.272256,8167.680000
4,5,AED,Male,Other,32.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by professional services/consulting firm,Yes,Master's degree,Other,3 to 5 years,Python,75000.0,0.272256,20419.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16711,14681,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,...,NaN,Employed by a company that doesn't perform adv...,No,Master's degree,Computer Science,6 to 10 years,NaN,NaN,NaN,NaN
16712,14682,NaN,NaN,NaN,NaN,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,Yes,Master's degree,NaN,1 to 2 years,NaN,NaN,NaN,NaN
16713,14683,NaN,NaN,NaN,NaN,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16714,14684,NaN,Male,NaN,NaN,I prefer not to say,Yes,"Yes, I'm focused on learning mostly data scien...",NaN,NaN,...,NaN,NaN,No,I prefer not to answer,NaN,NaN,NaN,NaN,NaN,NaN
16715,14685,NaN,NaN,NaN,NaN,I prefer not to say,No,"Yes, I'm focused on learning mostly data scien...",NaN,NaN,...,NaN,NaN,Yes,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN

In [66]:
country_dense

{'Monaco': 67728.0,
 'China': 395.5,
 'Singapore': 21476.0,
 'Hong Kong': 18342.0,
 'Gibraltar': 8728.0,
 'Bahrain': 5592.0,
 'Holy See': 4703.0,
 'Maldives': 4584.0,
 'Malta': 3564.0,
 'Bangladesh': 3245.0,
 'Bermuda': 3237.0,
 'Sint Maarten (Dutch part)': 3230.0,
 'Channel Islands': 2348.0,
 'State of Palestine': 2143.0,
 'Saint-Martin (French part)': 1857.0,
 'Mayotte': 1838.0,
 'Taiwan': 1739.0,
 'Lebanon': 1736.0,
 'Barbados': 1729.0,
 'Mauritius': 1620.0,
 'Aruba': 1530.0,
 'San Marino': 1462.0,
 'Nauru': 1393.0,
 'South Korea': 1364.0,
 'Rwanda': 1326.0,
 'Netherlands': 1313.0,
 'India': 1190.0,
 'Comoros': 1184.0,
 'Burundi': 1163.0,
 'Saint-Barthélemy': 1159.0,
 'Haiti': 1059.0,
 'Israel': 1020.0,
 'Tuvalu': 1005.0,
 'Belgium': 987.0,
 'Curaçao': 953.4,
 'Philippines': 939.1,
 'Réunion': 921.0,
 'Martinique': 917.6,
 'Japan': 901.3,
 'Sri Lanka': 880.6,
 'Puerto Rico': 856.5,
 'Grenada': 853.1,
 'Marshall Islands': 845.9,
 'El Salvador': 806.8,
 'Vietnam': 805.7,
 'Guam': 802.4,
 'Saint Lucia': 776.2,
 'United States Virgin Islands': 773.9,
 'Saint Vincent and the Grenadines': 734.5,
 'Pakistan': 727.5,
 'United Kingdom': 722.9,
 'American Samoa': 716.4,
 'Jamaica': 705.0,
 'Trinidad and Tobago': 704.2,
 'Cayman Islands': 700.9,
 'Guadeloupe': 636.4,
 'Qatar': 631.7,
 'Germany': 620.6,
 'Luxembourg': 615.6,
 'Liechtenstein': 615.4,
 'Kuwait': 611.5,
 'Gambia': 600.9,
 'Sao Tome and Principe': 580.2,
 'Dominican Republic': 575.5,
 'Uganda': 573.9,
 'Antigua and Barbuda': 571.6,
 'Nigeria': 571.6,
 'Switzerland': 563.1,
 'North Korea': 552.2,
 'Seychelles': 550.4,
 'Italy': 533.3,
 'Saint Kitts and Nevis': 526.3,
 'British Virgin Islands': 518.5,
 'Nepal': 517.0,
 'Malawi': 511.8,
 'Anguilla': 427.9,
 'Andorra': 425.0,
 'Guatemala': 425.0,
 'Micronesia (Fed. States of)': 421.1,
 'Indonesia': 386.9,
 'Togo': 384.9,
 'Isle of Man': 384.4,
 'Kiribati': 376.1,
 'Tonga': 375.8,
 'Czech Republic': 358.5,
 'Cabo Verde': 353.5,
 'Thailand': 353.0,
 'Denmark': 352.2,
 'Tokelau': 347.1,
 'Ghana': 346.3,
 'Cyprus': 335.9,
 'Northern Mariana Islands': 322.2,
 'Poland': 320.4,
 'Republic of Moldova': 318.8,
 'Azerbaijan': 314.9,
 'France': 307.9,
 'United Arab Emirates': 302.8,
 'Jordan': 294.7,
 'Slovakia': 294.0,
 'Ethiopia': 290.3,
 'Portugal': 289.3,
 'Austria': 281.5,
 'Turkey': 280.8,
 'Sierra Leone': 280.2,
 'Hungary': 277.1,
 'Cuba': 275.8,
 'Albania': 272.2,
 'Benin': 271.2,
 'Armenia': 269.1,
 'Slovenia': 267.3,
 'Egypt': 261.1,
 'Serbia': 259.8,
 'Costa Rica': 256.0,
 'Malaysia': 251.9,
 'Dominica': 248.0,
 'Spain': 242.7,
 'Cambodia': 241.9,
 'Syrian Arab Republic': 240.8,
 'Kenya': 239.2,
 'Iraq': 234.4,
 'Honduras': 225.6,
 'Timor-Leste': 225.2,
 'Senegal': 219.2,
 'Romania': 217.9,
 'Myanmar': 214.3,
 'North Macedonia': 214.0,
 'Brunei Darussalam': 212.9,
 'Morocco': 211.7,
 'Wallis and Futuna Islands': 211.5,
 'Greece': 210.4,
 "Côte d'Ivoire": 209.5,
 'Bonaire, Sint Eustatius and Saba': 205.1,
 'Uzbekistan': 200.8,
 'French Polynesia': 197.6,
 'Ukraine': 196.7,
 'Tunisia': 195.0,
 'Burkina Faso': 192.4,
 'Croatia': 191.2,
 'Cook Islands': 189.4,
 'Ireland': 183.6,
 'Lesotho': 181.3,
 'Ecuador': 181.2,
 'Samoa': 180.4,
 'Guinea-Bissau': 176.9,
 'Eswatini': 172.9,
 'Tajikistan': 172.5,
 'Mexico': 170.0,
 'United Republic of Tanzania': 169.6,
 'Bosnia and Herzegovina': 167.6,
 'Bulgaria': 167.0,
 'Afghanistan': 150.9,
 'Georgia': 149.0,
 'Panama': 147.9,
 'Yemen': 143.0,
 'Cameroon': 141.8,
 'Nicaragua': 140.9,
 'Guinea': 134.6,
 'Liberia': 132.8,
 'Iran': 131.9,
 'Montserrat': 129.2,
 'Fiji': 126.2,
 'Equatorial Guinea': 125.2,
 'South Africa': 125.0,
 'Montenegro': 120.9,
 'Belarus': 120.6,
 'Madagascar': 120.1,
 'Colombia': 117.5,
 'Lithuania': 114.0,
 'Djibouti': 108.8,
 'Turks and Caicos Islands': 104.1,
 'Palau': 101.4,
 'Bahamas': 100.8,
 'Mozambique': 100.0,
 'Democratic Republic of the Congo': 99.14,
 'Zimbabwe': 98.06,
 'United States': 93.16,
 'Faroe Islands': 90.31,
 'Eritrea': 89.69,
 'Kyrgyzstan': 86.64,
 'Venezuela (Bolivarian Republic of)': 83.73,
 'Estonia': 80.99,
 "Lao People's Democratic Republic": 80.45,
 'Latvia': 79.41,
 'Angola': 66.12,
 'Chile': 66.02,
 'Peru': 65.79,
 'Saint Pierre and Miquelon': 65.55,
 'Brazil': 65.4,
 'Somalia': 63.77,
 'Vanuatu': 63.71,
 'Sweden': 63.35,
 'Sudan': 62.83,
 'Zambia': 62.24,
 'Solomon Islands': 61.98,
 'Bhutan': 51.85,
 'Uruguay': 51.23,
 'Papua New Guinea': 50.19,
 'Niger': 47.66,
 'Finland': 47.14,
 'New Zealand': 47.06,
 'South Sudan': 46.9,
 'Algeria': 46.83,
 'Paraguay': 45.92,
 'Belize': 44.31,
 'Argentina': 42.37,
 'Mali': 41.72,
 'Oman': 41.62,
 'Saudi Arabia': 41.28,
 'Congo': 40.82,
 'Saint Helena': 40.25,
 'New Caledonia': 40.07,
 'Norway': 38.15,
 'Chad': 32.79,
 'Turkmenistan': 32.76,
 'Bolivia (Plurinational State of)': 27.53,
 'Russia': 23.07,
 'Gabon': 21.84,
 'Central African Republic': 19.73,
 'Kazakhstan': 17.8,
 'Niue': 16.09,
 'Mauritania': 11.37,
 'Canada': 10.66,
 'Botswana': 10.53,
 'Guyana': 10.3,
 'Libya': 9.977,
 'Suriname': 9.652999999999999,
 'French Guiana': 9.163,
 'Iceland': 8.759,
 'Australia': 8.498,
 'Namibia': 7.848,
 'Western Sahara': 5.672000000000001,
 'Mongolia': 5.377000000000001,
 'Falkland Islands (Malvinas)': 0.7170000000000001,
 'Greenland': 0.35700000000000004}