In [42]:
import pandas as pd
import numpy as np

In [57]:
data = pd.read_csv('C://Users//Matth//OneDrive//Documents//Data Science//DATA 557//557_Final_Project//Data//DataScienceData.csv')
pop =  pd.read_csv('C://Users//Matth//OneDrive//Documents//Data Science//DATA 557//557_Final_Project//Data//pop_dense.csv', header=None, encoding="ISO-8859-1")
pop_dense = []
val = pop.values
country_dense = {}
for v in val:
    country_dense[v[0]] = v[1]
for i in range(0,len(data)):
    country = data.iloc[i][3]
    country = str(country)
    if country != "Other" and country != 'nan':
        dense = country_dense[country]
        pop_dense.append(dense)
    else:
        #dense = country_dense[country]
        pop_dense.append(0)

In [58]:

density = pd.DataFrame({"Density": pop_dense})

In [59]:
df = pd.concat([data, density], axis=1, sort='False')
density.head()

   Density
0    261.1
1    620.6
2  18342.0
3      0.0
4      0.0

In [60]:
df = df.drop(columns="Unnamed: 0")

In [61]:
df.to_csv("C://Users//Matth//OneDrive//Documents//Data Science//DATA 557//557_Final_Project//Data//Data_Science_Density.csv")

In [64]:
data

,Unnamed: 0,CompensationCurrency,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,...,TitleFit,CurrentEmployerType,DataScienceIdentitySelect,FormalEducation,MajorSelect,Tenure,LanguageRecommendationSelect,CompensationAmount,ExchangeRate(USA),CompensationYearUSD
0,9,AED,Female,Egypt,30.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by college or university,Yes,Doctoral degree,A health science,6 to 10 years,Java,NaN,0.272256,NaN
1,3,AED,Male,Germany,38.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by a company that performs advanced a...,Yes,Master's degree,NaN,3 to 5 years,R,0.0,0.272256,0.000000
2,4,AED,Male,Hong Kong,20.0,Employed part-time,NaN,NaN,Yes,NaN,...,Fine,Employed by a company that doesn't perform adv...,No,Bachelor's degree,Computer Science,Less than a year,R,1.0,0.272256,0.272256
3,1,AED,Male,Other,42.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by professional services/consulting firm,Sort of (Explain more),Master's degree,Computer Science,6 to 10 years,R,30000.0,0.272256,8167.680000
4,5,AED,Male,Other,32.0,Employed full-time,NaN,NaN,Yes,NaN,...,Fine,Employed by professional services/consulting firm,Yes,Master's degree,Other,3 to 5 years,Python,75000.0,0.272256,20419.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16711,14681,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,...,NaN,Employed by a company that doesn't perform adv...,No,Master's degree,Computer Science,6 to 10 years,NaN,NaN,NaN,NaN
16712,14682,NaN,NaN,NaN,NaN,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,Yes,Master's degree,NaN,1 to 2 years,NaN,NaN,NaN,NaN
16713,14683,NaN,NaN,NaN,NaN,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16714,14684,NaN,Male,NaN,NaN,I prefer not to say,Yes,"Yes, I'm focused on learning mostly data scien...",NaN,NaN,...,NaN,NaN,No,I prefer not to answer,NaN,NaN,NaN,NaN,NaN,NaN
16715,14685,NaN,NaN,NaN,NaN,I prefer not to say,No,"Yes, I'm focused on learning mostly data scien...",NaN,NaN,...,NaN,NaN,Yes,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN